@model Bonline.Models.Bon

<!DOCTYPE HTML>

<Html>

<head>
	@Scripts.Render("~/content/Site.css")
</head>
<body>
	<div class="jumbotron">
		<h1 class="display-3">BONLINE</h1>
		<p class="lead">Life made easier.</p>
		<hr class="my-4">
		<p>Life made easier but in paragraph form</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">FUCK THE POLICE COMING STRAIGHT FROM THE UNDERGROUND!
			</a>
		</p>
	</div>
</body>
</Html>

