<!DOCTYPE HTML>

<Html>

<head>
    @Scripts.Render("~/content/Site.css")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>hai</h1>
                <p>Test paragraaf Test paragraaf Test paragraaf Test paragraaf Test paragraaf
                    Test paragraaf Test paragraaf Test paragraaf Test paragraaf Test paragraaf
                    Test paragraaf Test paragraaf Test paragraaf Test paragraaf Test paragraaf
                    Test paragraaf Test paragraaf Test paragraaf Test paragraaf Test paragraaf
                    Test paragraaf Test paragraaf Test paragraaf Test paragraaf Test paragraaf
                    Test paragraaf Test paragraaf Test paragraaf Test paragraaf Test paragraaf</p>
            </div>
        </div>
    </div>
</body>
</Html>
