@model Bonline.Models.Bon

<!DOCTYPE HTML>

<Html>

<head>
	@Styles.Render("~/content/Site.css")
	@Scripts.Render("~/Scripts/Letters.js")
</head>
<body>
	<div>
		<h1 class='logo'>BONLINE</h1>
		<div class='search'>
			<button class="buttone" onclick="location.href='/Account/Login';">Login</button>
			<button class="buttone" onclick="location.href='/Account/Register';">Registreer</button>
		</div>
	</div>
</body>

</Html>

