<!DOCTYPE HTML>

<Html>

<head>
	@Scripts.Render("~/content/Site.css")
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>Welkom terug</h1>
			<p>
				Bonline is een online opslagplaats voor uw bonnon.
				Maak vandaag een account aan om ook van papieren bonnen af te komen.
			</p>
		</div>
	</div>
</div>
</body>
</Html>

