@model Bonline.Models.Bon


@{
 ViewBag.Title = "Details";
}
<!DOCTYPE html>

<h2>Details</h2>

@using (Html.BeginForm("Details","Bon",FormMethod.Post))
{
@*<a>Datum:</a>@Html.DisplayForModel(Model.Date)<br />
<a>Boodschappen:</a>@Html.DisplayForModel(Model.Description)<br/>
<a>Account:</a>@Html.DisplayForModel(Model.Acc)<br/>
<a>Locatie:</a>@Html.DisplayForModel(Model.Loc)<br/>*@

<h4>Datum:12-12-2012</h4><br />
<h4>Boodschappen:ksnn jsnjnasjfndfhoh ashjaksjdfhj hfguhqJIJJKF BiwjnfjkbnjIJ</h4><br />
<h4>Account:Simon Westerburger</h4><br />
<h4>Locatie:Tilburg</h4><br />






}
