@model Bonline.Models.Bon


@{
 ViewBag.Title = "Details";
}
<!DOCTYPE html>

<h2>Details</h2>

@using (Html.BeginForm("Details", "Bon", FormMethod.Post))
{
 <h4>Boodschappen: @Html.DisplayFor(mode => Model.Description)</h4>
 <h4>Datum: @Html.DisplayFor(model => Model.Date)</h4>
 <h4>Account: @Html.DisplayFor(model => Model.Acc)</h4>

}
