@model Bonline.Models.Bon

@Styles.Render("~/content/Site.css")
<h2>Kassa</h2>

@using (Html.BeginForm("BonDetails", "Bon"))
{
 @Html.AntiForgeryToken()
 <label> Fill in the UserID here: </label>
 @Html.TextBoxFor(model => model.AccId)
 <input type="submit" name="yis" value="Submit" />
}
